.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("img/bird_inko_yellow2.png"),url("img/bird_inko_yellow.png");
  animation: gaming 2s linear infinite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right,left;
}

#title {
  font-family: 'Hina Mincho';
  text-align: center;
  font-size: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.boardWrapper {
  /* background-color: #b3eeb3; */
  background-color: #f3eded;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

section {
  padding: 0px 10px;
}

section .username {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

section .nameArea {
  display: flex;
  align-items: center;
  margin-bottom: -14px;
}

section .comment {
  margin-top: 0;
  margin-left: 20px;
}

.success_message {
  color: green;
  padding-left: 10px;
}

.error_message {
  color: red;
  padding-left: 10px;
}

.formWrapper {
  padding: 16px;
  margin-left: 20px;
}

.comment {
  margin-top: 10px;
  width: 500px;
  height: 90px;
}

.gamingbackground {
  /* 横長で虹色を作る */
  background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
  animation: gamingbackground 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

@keyframes gamingbackground {

  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

.gaming {
  /* アニメーションの長さ */
  animation: gaming 2s linear infinite;
}

@keyframes gaming {

  /* 色の指定 */
  0% {
    background-color: greenyellow;
  }

  33% {
    background-color: yellow;
  }

  66% {
    background-color: yellow;
  }

  100% {
    background-color: greenyellow;
  }
}

/* 桜を表示するコンテナのスタイル */
.cherry-blossom-container {
  position: relative;
  height: 100%;
  /* コンテナの高さ */
  width: 100%;
  /* コンテナの横幅 */
  overflow: hidden;
  /* コンテナからはみ出した要素を隠す */
}

/* 桜の花びらのスタイル */
.petal {
  position: absolute;
  /* 花びらの色 */
  border-radius: 150% 0 150% 0;
  animation: animate-petal 10s linear;
}

.petal::after {
  content: "";
  position: absolute;
  top: -14%;
  left: -10%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffc0cb;
  border-radius: 150% 0 150% 0;
  transform: rotate(15deg);
}

/* 花びらが降るアニメーション */
@keyframes animate-petal {
  0% {
    top: 0;
    opacity: 0;
    transform: rotate(0deg);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100vh;
    transform: rotate(3000deg);
  }
}

/* ===== 落ち葉を表示するコンテナのスタイル ===== */
.leaves-container {
  position: relative;
  height: 100%;
  /* コンテナの高さ */
  width: 100%;
  /* コンテナの横幅 */
  overflow: hidden;
  /* コンテナからはみ出した要素を隠す */
}

/* ===== 落ち葉のスタイル ===== */

/* 落ち葉の共通スタイル */
.leaf {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  animation: animate-leaf 30s linear;
}

/* 落ち葉1 */
.leaf-1 {
  background-image: url('img/j.png');
  /* 任意のパスを記入 */
}

/* 落ち葉2 */
.leaf-2 {
  background-image: url('img/t.png');
  /* 任意のパスを記入 */
}

/* 落ち葉3 */
.leaf-3 {
  background-image: url('img/e.png');
  /* 任意のパスを記入 */
}

.leaf-4 {
  background-image: url('img/c.png');
}

.leaf-5 {
  background-image: url('img/h.png');
}

/* ===== 落ち葉が降るアニメーション ===== */
@keyframes animate-leaf {
  0% {
    opacity: 0;
    top: 0;
    transform: rotate(0);
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    top: 100%;
    transform: rotate(1080deg);
  }
}

.side {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}
.change {
  cursor: url('img/birdsun.png'), default;
}